button {
    width: 120px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bolder;
}

@media (min-width: 1100px) {
    button {
        position: relative;
        width: 240px!important;
        font-size: 1.2rem;
        height: 30px;
        padding-bottom: 6px;
    }
}

// @media (min-width: 1340px) {
//     button {
//         width: 260px;
//     }
// }