@media screen and (min-width: 0px) and (min-device-width: 0px){
    .header-container-home {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }
    
    .img-header {
        height: 100px;
        width: 100px;
        margin-right: 2.5rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .box-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw !important;
        height: 6vh !important;
        .button-body {
            p {
                font-size: 1.5rem !important;
            }
        }
    }
}

@media screen and (min-width: 450px) and (min-device-width: 500px) {
    .header-container-home {
        width: 100dvw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 60px;
    }
    
    .img-header {
        height: 70px;
        width: 69px;
    
        & img {
            width: 100%;
            height: 100%;
        }
    }
}