@import '@/assets/sass/_main.scss';

.t2 {
  &::after {
    content: 'Educator';
    animation-name: changeWord;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
}

.container-down-info {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;

  & p {
    font-weight: 600;
  }
}

@keyframes changeWord {
  25% {
    content: 'Educator';
    color: #7A1F40;
  }

  50% {
    content: 'Writer';
    color: #B89E35;
  }

  75% {
    content: 'Reader';
    color: #A32287;
  }

  100% {
    content: 'Quimic';
    color: #1D6828;
  }
}

@media (max-width: 1024px) {
  .main-home {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;

    .elements-container {
      width: 50vw;
      height: calc(93dvh - 90px);
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 40px;

      .eva-container {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 60vw;
          height: 40vh;
        }
      }

      .info-home-container {
        width: auto;
        margin: 0px;
        display: flex;
        justify-content: normal;
        align-items: center;
        margin: 0px 0px 0px 0px;

      }
    }
  }

  

  .i-as-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .t1 {
    font-size: 40px;
  }

  .t2 {
    font-size: 50px;
    color: $standard-bordeuax;
  }

  .t3 {
    font-size: 20px;
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  .home-container {
    padding: 0;
  }
}

@media (max-width: 1440px) {
  .main-home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;

    .elements-container {
      width: 100vw;
      height: calc(93dvh - 90px);
      display: flex;
      justify-content: space-around;
      line-height: 40px;
      flex-direction: row;

      .eva-container {
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 25vw;
          height: 35vh;
        }

      }

      .info-home-container {
        width: 60vw;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  .home-container {
    padding: 0;
  }

  .i-as-container {
    display: flex;
    flex-direction: row !important;
    gap: 20px !important;
    align-items: center;
    justify-content: center;
    width: 40vw;

    .t1 {
      font-size: 40px;
    }

    .t2 {
      font-size: 50px;
      color: $standard-bordeuax;
    }

    .t3 {
      font-size: 20px;
      width: 80%;
      margin: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 20px;
    }
  }
}

@media (max-width: 1920px) {
  .main-home {
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;

    .elements-container {
      width: 100vw;
      height: calc(93dvh - 90px);
      display: flex;
      justify-content: space-around;
      line-height: 40px;
      flex-direction: row;

      .eva-container {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 20vw;
          height: 35vh;
        }

      }

      .info-home-container {
        width: 60vw;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  .home-container {
    padding: 0;
  }

  .i-as-container {
    display: flex;
    flex-direction: row !important;
    gap: 20px !important;
    align-items: center;
    justify-content: center;
    width: 40vw;

    .t1 {
      font-size: 40px;
    }

    .t2 {
      font-size: 50px;
      color: $standard-bordeuax;
    }

    .t3 {
      font-size: 20px;
      width: 80%;
      margin: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 20px;
    }
  }
}
@media (max-width: 768px) {
  .main-home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;

    .elements-container {
      width: 100vw;
      height: calc(93dvh - 90px);
      display: flex;
      justify-content: space-around;
      line-height: 40px;
      flex-direction: row;

      .eva-container {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 25vw;
          height: 25vh;
        }
      }

      .info-home-container {
        width: 60vw;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .i-as-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 60vw;

    .t1 {
      font-size: 40px;
    }

    .t2 {
      font-size: 50px;
      color: $standard-bordeuax;
    }

    .t3 {
      font-size: 20px;
      width: 80%;
      margin: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 20px;
    }
  }
  .home-container {
    padding: 0;
  }
}
@media (max-width: 580px) {
  .main-home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;

    .elements-container {
      width: 100vw;
      height: calc(93dvh - 90px);
      display: flex;
      justify-content: space-around;
      line-height: 40px;
      flex-direction: column;

      .eva-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 60vw;
          height: 40vh;
        }
      }

      .info-home-container {
        width: 60vw;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .i-as-container {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;
          justify-content: center;
          width: 90vw;

          .t1 {
            font-size: 40px;
          }

          .t2 {
            font-size: 50px;
            color: $standard-bordeuax;
          }

          .t3 {
            font-size: 10px;
            width: 80vw;
            margin: 0;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .home-container {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .main-home {
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;

    .home-container {
      padding: 0;
    }

    .elements-container {
      width: 100vw;
      height: calc(93dvh - 90px);
      display: flex;
      justify-content: space-around;
      line-height: 40px;
      flex-direction: column;

      .eva-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 80vw;
          height: 40vh;
        }
      }

      .info-home-container {
        width: 60vw;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .i-as-container {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;
          justify-content: center;
          width: 90vw;

          .t1 {
            font-size: 40px;
          }

          .t2 {
            font-size: 50px;
            color: $standard-bordeuax;
          }

          .t3 {
            font-size: 10px;
            width: 80vw;
            margin: 0;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .main-home {
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;

    .home-container {
      padding: 0;
    }

    .elements-container {
      width: 100vw;
      height: calc(93dvh - 90px);
      display: flex;
      justify-content: space-around;
      line-height: 40px;
      flex-direction: column;

      .eva-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 80vw;
          height: 40vh;
        }
      }

      .info-home-container {
        width: 80vw;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .i-as-container {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;
          justify-content: center;
          width: 90vw;
          margin-top: 1rem;
          .t1 {
            font-size: 40px;
          }

          .t2 {
            font-size: 40px;
            color: $standard-bordeuax;
          }

          .t3 {
            font-size: 10px;
            width: 80vw;
            margin: 0;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }
  }
}