$standard-light-mode: #FAF9F9;
$standard-white: #ffffff;
$standard-grey: #DCDCDC;
$standard-dark-gray: #6B6B6B;
$standard-yellow: #B89E35;
$standard-bordeuax: #7A1F40;
$standard-purple: #343275;
$standard-green: #1D6828;
$standard-pink: #A32287; 
$standard-black: #000000;
$standard-dark-mode: #292929;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}